<html>
<title>my.limewire.com/<%=h @user.host -%></title>
<body style="margin:0; padding:0;">
  <IFRAME SRC="<%= @user.url -%>" NAME="main" style="width:100%; height: 100%; margin: 0; border: 0;"></IFRAME>
</body>
</html>
